/*--------Buttons--------*/

.btn_small{
    height:24px;
    width:65px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    text-align: center;
}

.recipe_header {
    color:black;
    margin-top: 5px;
    flex:1;
}

/*--------Filter Button--------*/
.waves-effect{ 
    overflow-x: unset;
    overflow-y: unset;
}

/*--------Navigation--------*/


.nav-wrapper{
    background-color: #b34d4d;
}

body{
    background-color: #9f6060;
}

.row{
    color: white;
}

h2, h3, h4{
    color:aliceblue;
    text-align: center;
}

/*-------View Recipe Styling------*/

img {
    width:100%;
    block-size: 400px;
}

.s3 {
    text-align: right;
}

.flexbox {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.row .col.s6{
    width:40;
}

/*-------Media Queries------*/

@media only screen and (max-width: 992px){
    nav .brand-logo {
        width:100%;
        text-align: center;
    }
}
@media only screen and (min-width: 0){
    html {
    font-size: 14px;
    }
}

