.btn_small{
    height:24px;
    width:60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.recipe_header {
    margin-top: 5px;
}

.nav-wrapper{
    background-color: #b34d4d;
}

body{
    background-color: #9f6060;
}

.row{
    color: white;
}

h2, h3, h4{
    color:aliceblue;
    text-align: center;
}

.recipe_header{
    color:black;
}

img {
    width:100%;
    block-size: 400px;
}

.s3 {
    text-align: right;
}