 {% extends 'index.html' %}  
 {% block content %}         
    
    <h2>Discover your passion about Cooking!</h2>
    <h4>Check our Recipes by Clicking the View Button</h4>
    
        
        

    {% for recipe in recipes %}
        <div class="collapsible-header">
        
            <div class="recipe_header col s9">
                <strong>{{recipe.recipe_name}}</strong> - {{recipe.category_name}}
            </div>
            <div class="col s3">
                <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">View</a>
            </div>
            
        </div>
    {% endfor %}

{% endblock %}