 {% extends 'index.html' %}  
 {% block content %}         
    {% for recipe in recipes %}
        
        
<ul class="collapsible popout">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i><strong>{{recipe.recipe_name}}</strong> - {{recipe.category_name}}</div>
      <div class="collapsible-body">
        <span>
            <img src="{{recipe.image_url}}">
            {{recipe.ingredients}}
            {{recipe.method}}
            {{recipe.country_of_origin}}
            {{recipe.vegetarian}}
            {{recipe.vegan}}
            {{recipe.allergens}}
            {{recipe.nutricion}}
        </span>
      </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}