 {% extends 'index.html' %}  
 {% block content %}         
    
    <h2>Discover your passion about Cooking!</h2>
    <h4>Check our Recipes by Clicking the View Button</h4>
    
    <form action="{{url_for('get_recipes')}}" method="GET">
        <div>
            <label for="suitability">Suitability</label>
            <select name="suitability" id="suitability">
                <option value="all">All</option>
                <option value="veg">Vegeterian</option>
                <option value="vegan">Vegan</option>
            </select>
        </div>
        <div>
            <label for="country">Country</label>
                <select name="country" id="country">
                    <option value="all">All</option>
                    <option value="mexico">Mexico</option>
                    <option value="italy">Italy</option>
                    <option value="greece">Greece</option>
                    <option value="thai">Thai</option>
                </select>
        </div>
        <div>
            <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="all">All</option>
                    <option value="starters">Starters</option>
                    <option value="appetisers">Appetisers</option>
                    <option value="maincourses">Main Courses</option>
                    <option value="desserts">Desserts</option>
                </select>
        </div>
        <button type="submit" class="waves-effect waves-light btn blue">Search for Recipes</button>
    </form> 
        
    <br>
    {% for recipe in recipes %}
        <div class="collapsible-header">
        
            <div class="recipe_header col s9">
                <strong>{{recipe.recipe_name}}</strong> - {{recipe.category_name}}
            </div>
            <div class="col s3">
                <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small green">View</a>
                <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
            </div>
            
        </div>
    {% endfor %}

{% endblock %}