<form action="{{url_for('test')}}" method="GET">
        <div>
            <label for="suitability">Suitability</label>
            <select name="suitability" id="suitability">
                <option value="all">All</option>
                <option value="veg">Vegeterian</option>
                <option value="vegan">Vegan</option>
            </select>
        </div>
        <div>
            <label for="country">Country</label>
                <select name="country" id="country">
                    <option value="all">All</option>
                    <option value="mexico">Mexico</option>
                    <option value="italy">Italy</option>
                    <option value="greece">Greece</option>
                    <option value="thai">Thai</option>
                </select>
        </div>
        <div>
            <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="all">All</option>
                    <option value="starters">Starters</option>
                    <option value="appetisers">Appetisers</option>
                    <option value="maincourses">Main Courses</option>
                    <option value="desserts">Desserts</option>
                </select>
        </div>
        
        <button class="waves-effect waves-light btn blue">Search for Recipes</button>
    </form> 
        
{% for recipe in recipes %}
    <p>{{ recipe.recipe_name }}</p>
{% endfor %}