{% extends 'base.html' %}  
{% block content %}

    <div class="row">
        <h3>{{recipe.recipe_name}}</h3> 
    </div> 
    <div class="row">
        <div class="col s6 heading">
            <p>COUNTRY : {{recipe.recipe_country_of_origin}}</p>
            
        </div>
        <div class="col s6 heading">
            <p>CATEGORY : {{recipe.category_name}}</p>
            
        </div>
    </div>
    <div class="row">
        <img src="{{recipe.image_url}}">
    </div>
    <div class="row">
        <p>INGREDIENTS :</p>
        {{recipe.recipe_ingredients}}
    </div>       
    <div class="row">
        <p>COOKING METHOD :</p>
        {{recipe.recipe_method}}
    </div> 
    <div class="row">
        <p>IS THE RECIPE FOR VEGETERIANS?</p>
        {% if recipe.recipe_vegetarian %}
            <p>True</p>
        {% else %}
            <p>False</p>
        {% endif %}
    </div>
    <div class="row">
        <p>IS THE RECIPE FOR VEGANS?</p>
        {% if recipe.recipe_vegan %}
            <p>True</p>
        {% else %}
            <p>False</p>
        {% endif %}
    </div>
    <div class="row">
        <p>ALLERGENS :</p>
        {{recipe.recipe_allergens}}
    </div>
    <div class="row">
        <p>NUTRICION :</p>
        {{recipe.recipe_nutricion}}
    </div>
    <div class="row">
        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
        <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small red">Delete</a>
    </div>
{% endblock %}